<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Zeiterfassung</h1>
        <ul>
            <li><a href="/time">Zeiterfassung</a></li>
            <li><a href="/project">Projektverwaltung</a></li>
            <li><a href="/analysis">Analyse</a></li>
            <li><a href="/user">Benutzer</a></li>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
